########################
# Node / MERN
########################
node_modules/
npm-debug.log*
yarn-error.log*

########################
# Python / AI
########################
venv/
__pycache__/
*.pyc
*.pyo

########################
# Environment variables
########################
.env
.env.local
.env.production

########################
# Build outputs
########################
client/build
dist

########################
# OS files
########################
.DS_Store
Thumbs.db


########################
# AI Models (DO NOT PUSH)
########################
Taskora-AI/model/
Taskora-AI/model/**
*.safetensors
*.pt
*.pth
checkpoint*
